/games/*/unity/Library/
/games/*/unity/Temp/
/games/*/unity/Obj/
/games/*/unity/Logs/
/games/*/unity/UserSettings/
/games/*/unity/Builds/
/games/*/unity/MemoryCaptures/
/games/*/unity/Recordings/
**/.vs/
*.csproj.user
*.sln
/games/*/unity/*.csproj
/games/*/unity/tests/**/bin/
/games/*/unity/tests/**/obj/
