/unity/Library/
/unity/Temp/
/unity/Obj/
/unity/Logs/
/unity/UserSettings/
/unity/Builds/
/unity/MemoryCaptures/
/unity/Recordings/
games/

**/.vs/
*.csproj.user
*.sln
/unity/*.csproj
/unity/Tests/**/bin/
/unity/Tests/**/obj/
